* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Varela Round";
  overflow-x: hidden;
  -webkit-appearance: none;
}

ul,
nav,
ol,
li {
  list-style: disc;
  list-style-type: disc;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: flex-start;
}

.column {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  cursor: pointer
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}


[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

section {
  height: 100%;
  width: 100%;
}


.A4-page {
  background: #ffffff;
  margin: 1cm auto;
  border-radius: 12px;
  width: 24cm;
  height: 29.7cm;
  filter: drop-shadow(0 14px 25px rgba(0, 0, 0, .23));
}

.header{
  height: 196px;
  width: 100%;
  max-width: 992px;
  border-radius: 12px 12px 0 0;
}
.w-760{
  width: 800px;
}
.w-800{
  width: 800px;
}


.m24-auto{
  margin: 24px auto;
}

.w-760 img {
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.border-white{
  border: 4px solid #ffffff;
  padding: 32px 44px;
  border-radius: 6px;
  position: relative;
}
.name{
  color: #ffffff;
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
}
.p-box{
  position: absolute;
  bottom: -25px;
  background: #ffffff;
  left: 120px;
  border-radius: 6px;
}
.profession{
  color: #1c3b4f;
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px 32px;
  font-size: 20px;
  line-height: 1.256;
}
.blue-bg{
  background: linear-gradient(to bottom right, #1c3b4f, #1c3b4f80);
}

.profile,
.education,
.contact {
  width: 100%;
  max-width: 90%;
}

.experience,
.skills {
  width: 100%;
}

.list{
  margin: 12px 0 0;
}
.highlight {
  font-size: 14px;
  line-height: 150%;
  color: #ff1100;
  font-weight: bolder;
  margin: 14px 0 4px;
}


.label{
  font-size: 20px;
  line-height: 1.2;
  color: #1c3b4f;
  font-weight: 900;
  margin: 16px 0 12px;
  width: max-content;
  border-bottom: 2px solid #1c3b4f;
  text-transform: capitalize;
}

.detail{
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.detail span{
  color: #58d058 !important;
  font-size: 16px;
  line-height: 140%;
  margin: 0px 6px 0 0;
}

.experience ul,
.products ul, 
.projects ul {
  margin: 12px 0 0 20px;
}

.experience .list>.detail,
.products .list>.detail,
.projects .list>.detail {
  font-weight: 700;
  font-weight: 700;
}

.phone-number{
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;
}
.product-links{
  margin: 4px 0 8px;
}
.contact a,
.product-links a {
  color: #0791e8;
  font-weight: 600;
  cursor: pointer;
}

.skills .detail{
  margin: 6px 8px 0px 0px;
  font-weight: 600;
}

@media print {
  body,
  .page {
    margin: 0;
    box-shadow: 0;
    background: #fff;
    -webkit-print-color-adjust: exact;
  }
}